.team {
  margin-top: 10vh;
  height: 100%;
  width: 100%;
}

.team_wrapper {
  padding: 2rem 1rem;
  margin: 0 auto;
  color: var(--main-blue);
}

.team_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
}

.team_section .team_cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.team_section .team_card_item {
  position: relative;
  width: 250px;
  height: 100%;
  min-height: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px var(--main-gold);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.team_section .team_card_item.active {
  box-shadow: 0 5px 10px var(--main-gold);
  border: 1px solid var(--main-gold);
  transform: scale(1.05);
}

.team_section .team_card_info {
  margin: 0.5rem auto;
  padding: 0.5rem;
  width: 95%;
  min-height: 80px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--main-blue);
  color: var(--off-white);
  font-weight: 300;
}

.team_section .team_img img {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.team_section .team_name {
  font-weight: 400;
}

.team_section .team_expertise {
  font-size: 0.85rem;
  text-align: center;
}

.team_section .team_expertise span {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--main-gold);
}

.team_section .team_card_details {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 1.1rem;
  box-shadow: 0 0 5px var(--main-gold);
  border-radius: 0.5rem;
}

.team_card_details .name_partner {
  text-align: center;
  padding: 0.5rem;
}

.team_card_details .membership ol {
  padding-left: 3rem;
}

.team_card_details .linkButton {
  width: max-content;
}

.counsel_section {
  padding: 1rem;
}

.counsel_section .counsel_cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.counsel_cards .counsel_card_item {
  position: relative;
  width: 250px;
  height: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.counsel_cards .counsel_img img {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--main-gold);
}

.counsel_cards .counsel_card_info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.counsel_cards .counsel_name {
  text-align: center;
}

.counsel_cards .counsel_expertise span {
  font-weight: 500;
  color: var(--main-gold);
}

/* Responsive UI for smaller screen */
@media screen and (max-width: 600px) {
  .team_section .team_cards {
    gap: 1rem;
  }

  .team_section .team_card_item {
    width: 90%;
  }

  .team_section .team_card_info {
    font-size: 0.9rem;
  }

  .team_section .team_card_details {
    gap: 0.5rem;

    font-size: 0.9rem;
  }

  .counsel_section .counsel_cards {
    justify-content: center;
  }

  .counsel_cards .counsel_img img {
    height: 25vh;
    width: 25vh;
  }

  .counsel_cards .counsel_card_info {
    font-size: 0.9rem;
  }
}
