.homepage_container section.reach_section {
  background-color: #fafafa;
}

.reach_section .reach_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--main-blue);
}

.reach_section .address {
  font-weight: 400;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.reach_section .map {
  position: relative;
  height: 50vh;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.reach_section .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: none;
}

/* Responsive UI for smaller screen */
@media screen and (max-width: 600px) {
  .reach_section .address {
    font-size: 1rem;
    gap: 0.5rem;
  }

  .reach_section .map {
    height: 40vh;
  }
}
