.leadership {
  margin-top: 10vh;
  height: 100%;
  width: 100%;
}

.leadership_wrapper {
  padding: 2rem 1rem;
  margin: 0 auto;
  color: var(--main-blue);
}

.leadership_wrapper main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
}

.leadership_top,
.leadership_middle,
.leadership_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.leadership_top p,
.leadership_middle p,
.leadership_bottom p {
  font-size: 1.1rem;
}

.leadership_top img,
.leadership_middle img,
.leadership_bottom img {
  width: 80%;
}

.leadership_bottom .memberships,
.leadership_bottom .awards {
  width: 100%;
  font-size: 1.1rem;
}

.leadership_bottom .memberships ol {
  padding-left: 3rem;
}

/* Responsive UI for smaller screen */
@media screen and (max-width: 600px) {
  .leadership_wrapper main {
    gap: 1rem;
    width: 100%;
  }

  .leadership_top,
  .leadership_middle,
  .leadership_bottom {
    gap: 0.75rem;
  }

  .leadership_top p,
  .leadership_middle p,
  .leadership_bottom p {
    font-size: 0.9rem;
    line-height: 1.25rem;
  }

  .leadership_top img,
  .leadership_middle img,
  .leadership_bottom img {
    width: 100%;
  }

  .leadership_bottom .memberships,
  .leadership_bottom .awards {
    font-size: 0.9rem;
    line-height: 1.25rem;
  }

  .leadership_bottom .memberships ol {
    padding-left: 2rem;
  }
}
