.homeBlog .section_header {
  margin-bottom: 2rem;
  text-align: center;
}

.homeBlog .section_header .section_header_subtitle {
  position: relative;
  color: var(--main-blue);
  font-weight: 300;
  font-size: 1.25rem;
  text-align: center;
  width: max-content;
  margin: 0 auto;
}

.homeBlog .section_header_subtitle::before,
.homeBlog .section_header_subtitle::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-blue);
  height: 1px;
  width: 100px;
}

.homeBlog .section_header_subtitle::before {
  left: -7rem;
}

.homeBlog .section_header_subtitle::after {
  right: -7rem;
}
