.homeBlog_main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #dfdfdf;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  margin-top: 2rem;
  gap: 1rem;
}

.homeBlog_main .blog_card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 250px;
  height: 280px;
  background-color: #fafafa;
  color: var(--main-blue);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.homeBlog_main .blog_card img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.homeBlog_main .blog_card .blog_title {
  font-weight: 400;
  font-size: 0.9rem;
}

.homeBlog_main .blog_card .blog_time_read {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
}

.homeBlog_main .blog_card .blog_time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.homeBlog_main .blog_card button {
  padding: 0.3rem 0.5rem;
  border: none;
  outline: none;
  font-size: 0.9rem;
  font-weight: 400;
  cursor: pointer;
  background-color: var(--main-blue);
  color: #fafafa;
  border-radius: 0.25rem;
}

section.homeBlog .link_button {
  margin-top: 5%;
  text-align: center;
  cursor: pointer;
}

section.homeBlog .link_button a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  padding: 0.75rem 2rem;
  background-color: var(--main-blue);
  color: #fafafa;
  cursor: pointer;
  border-radius: 0.25rem;
}

section.homeBlog .link_button a i {
  margin-left: 0.25rem;
  transition: all 0.3s ease-in-out;
}

section.homeBlog .link_button a:hover i {
  transform: translateX(10px);
}

/* Responsive UI for smaller screen */
@media screen and (max-width: 600px) {
  .homeBlog_main {
    padding: 1rem;
    margin-top: 1rem;
    justify-content: center;
  }

  .homeBlog_main .blog_card {
    width: 80%;
    height: 250px;
  }

  section.homeBlog .link_button {
    margin-top: 10%;
  }
}
