.homeBlog_section .blogCards_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #dfdfdf;
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 1rem;
}

.homeBlog_section .blog_card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 250px;
  height: 280px;
  background-color: #fafafa;
  color: var(--main-blue);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.homeBlog_section .blog_card img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.homeBlog_section .blog_card .blog_title {
  font-weight: 400;
  font-size: 0.9rem;
}

.homeBlog_section .blog_card .blog_time_read {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
}

.homeBlog_section .blog_card .blog_time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.homeBlog_section .blog_card button {
  padding: 0.3rem 0.5rem;
  border: none;
  outline: none;
  font-size: 0.9rem;
  font-weight: 400;
  cursor: pointer;
  background-color: var(--main-blue);
  color: #fafafa;
  border-radius: 0.25rem;
}

/* Responsive UI for smaller screen */
@media screen and (max-width: 600px) {
  .homeBlog_section .blogCards_wrapper {
    justify-content: center;
  }

  .homeBlog_section .blog_card {
    width: 100%;
    height: max-content;
  }

  .homeBlog_section .blog_card img {
    height: 120px;
  }
}
