.footer_container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-blue);
  color: var(--main-gold);
}

.footer_wrapper {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  padding: 2rem 0;
}

.footer_wrapper hr {
  margin: 1rem 0;
  border: 1px solid var(--main-gold);
}

.footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_top img.footer_logo {
  width: 6rem;
  cursor: pointer;
  object-fit: cover;
}

.footer_top .footer_links {
  display: flex;
  gap: 2rem;
}

.footer_link_item h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.footer_link_item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_link_item .links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  cursor: pointer;
}

.footer_bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.footer_bottom .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer_bottom .socials span {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  color: #333;
  border-radius: 50%;
  cursor: pointer;
}

.footer_bottom .footer_address,
.footer_bottom .copyright {
  font-size: 0.9rem;
  font-weight: 300;
}

.footer_bottom .footer_address span {
  font-weight: 500;
  font-size: 1rem;
}

/* Responsive UI for smaller screen */
@media screen and (max-width: 600px) {
  .footer_wrapper {
    padding: 1rem;
  }

  .footer_top {
    flex-direction: column;
    gap: 1rem;
  }

  .footer_top img.footer_logo {
    width: 7rem;
  }

  .footer_top .footer_links {
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
  }

  .footer_link_item h2 {
    font-weight: 400;
  }

  .footer_link_item .links {
    font-size: 0.9rem;
  }

  .footer_bottom {
    justify-content: center;
  }

  .footer_bottom .socials span {
    height: 2rem;
    width: 2rem;
  }

  .footer_bottom .footer_address,
  .footer_bottom .copyright {
    text-align: center;
  }
}
