.homeSpecial .section_header {
  margin-bottom: 2rem;
  text-align: center;
}

.homeSpecial .section_header .section_header_subtitle {
  position: relative;
  color: white;
  font-weight: 300;
  font-size: 1.25rem;
  text-align: center;
  width: max-content;
  margin: 0 auto;
}

.homeSpecial .section_header_subtitle::before,
.homeSpecial .section_header_subtitle::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  height: 1px;
  width: 100px;
}

.homeSpecial .section_header_subtitle::before {
  left: -7rem;
}

.homeSpecial .section_header_subtitle::after {
  right: -7rem;
}

.homeSpecial .special_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.homeSpecial .card_item {
  position: relative;
  background-color: #f5f5f5;
  color: var(--main-blue);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 350px;
  height: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.homeSpecial .card_item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 5px #ffc87c;
  background: radial-gradient(circle at 10% 20%, #ffc87c 0%, #fcfb79 90%);
}

.card_header {
  display: flex;
  justify-content: space-between;
}

.homeSpecial .card_item h2 {
  font-size: 4rem;
  line-height: 3rem;
  opacity: 0.5;
}

.homeSpecial .card_item h3 {
  font-size: 2rem;
  opacity: 0.8;
  text-align: right;
  width: 60%;
}

.homeSpecial .card_item .card_info {
  transform: translateY(100px);
  transition: all 0.5s ease-in-out;
}

.homeSpecial .card_item:hover .card_info {
  transform: translateY(0px);
}

.homeSpecial .link_button {
  margin-top: 5%;
  text-align: center;
  cursor: pointer;
}

.homeSpecial .link_button a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 2rem;
  background-color: #fafafa;
  color: var(--main-blue);
  cursor: pointer;
  border-radius: 0.25rem;
}

.homeSpecial .link_button a i {
  margin-left: 0.25rem;
  transition: all 0.3s ease-in-out;
}

.homeSpecial .link_button a:hover i {
  transform: translateX(10px);
}

/* Responsive UI for smaller screen */
@media screen and (max-width: 600px) {
  .homeSpecial .special_cards {
    gap: 1rem;
  }

  .homeSpecial .card_item {
    border-radius: 0.25rem;
    width: 90%;
    min-height: 120px;
    background: radial-gradient(circle at 10% 20%, #ffc87c 0%, #fcfb79 90%);
  }

  .homeSpecial .card_item h2 {
    font-size: 2.5rem;
    line-height: 2rem;
  }

  .homeSpecial .card_item h3 {
    font-size: 1.25rem;
  }

  .homeSpecial .card_item .card_info {
    transform: translateY(0px);
    font-size: 0.9rem;
    text-align: center;
  }

  .homeSpecial .link_button {
    margin-top: 15%;
  }
}
